*,
*:after,
*:before {
  box-sizing: border-box;
}

html {
  font-family: "Source Sans Pro";
  scroll-behavior: smooth;
}

.super-headline {
  @include superHeadline;
}

.button {
  @include button;
}

p {
  line-height: 26px;
}