@include breakpoint(0, $mobile) {
    #about {
        margin-top: $sectionMargin;
        padding-top: $sectionMargin;
        height: auto;
        width: 100vw;
        padding-bottom: 30px;
        background-color: $darkwhite;

        div {
            img {
                height: 458px;
                width: 100vw;
                object-fit: cover;
                object-position: 0 0;
            }
        }

        .goingflex {
            margin: 0 20px 20px 20px;
        }

        .super-headline {
            margin-top: $leftMargin;
        }

        h2 {
            color: $darkorange;
            font-size: 28px;
            font-weight: 300;
        }

        p {
            font-weight: 300;
            font-size: 16px;
            color: $darkgrey;
        }

        a {
            color: $darkgrey;
            margin-bottom: $sectionMargin/2;
        }

        .button {
            margin-bottom: 0;
        }
    }
}