@include breakpoint(0, $mobile) {
    #workshops {

        h2,
        .super-headline {
            margin: 0 $leftMargin 0 $leftMargin;
        }

        h2 {
            @include h2;
        }

        .level {
            display: grid;
            grid-template-columns: auto 115px auto 37px;
            grid-template-rows: 70px 134px auto;
            background-color: $darkgrey;
            margin-top: 100px;
            padding-left: $leftMargin;

            p {
                color: $white;
                font-weight: 300;
                font-size: 16px;
            }

            .imgCircle {
                height: 115px;
                aspect-ratio: 1;
                background-color: $grey;
                border-radius: 100%;
                display: flex;
                justify-content: center;
                align-items: center;
                grid-column: 2/2;
                transform: translateY(-50%);

                p {
                    margin-top: 0;
                    color: $darkorange;
                    font-size: 28px;
                    font-weight: 600;
                }

                div {
                    height: 30px;
                    aspect-ratio: 1;
                    background-color: $lightgrey;
                    border-radius: 100%;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    position: absolute;
                    z-index: -1; //  :( ?
                    transform: translate(150%, -150%);
                }
            }

            .apply {
                writing-mode: vertical-rl;
                transform: rotate(180deg);
                vertical-align: middle;
                grid-column: 4/4;
                grid-row: 1/4;
                font-size: 18px;
                font-weight: 200;
                color: $lighterdark;
                background-color: $whitelight;
                padding-top: $leftMargin;
            }

            .yoga,
            .quote {
                width: 67px;
                aspect-ratio: 1;
            }

            .yoga {
                filter: invert(100%) sepia(0%) saturate(2%) hue-rotate(293deg) brightness(107%) contrast(101%);
            }

            .levelText {
                grid-column: 1/4;
                grid-row: 2/4;
                overflow: auto;

                h3 {
                    color: $lightorange;
                    font-size: 22px;
                    font-weight: 300;
                }

                h3,
                p,
                .button {
                    text-overflow: ellipsis;
                    overflow: hidden;
                }

                p {
                    margin-top: $leftMargin;
                    margin-right: $leftMargin;
                }
            }


            .quoteFlex {
                display: flex;
                flex-direction: column;
                grid-column: 2/2;
                grid-row: 3/3;
                align-items: center;
                justify-content: center;
                margin-top: 80px;
                margin-bottom: $leftMargin*2;

                blockquote {
                    text-align: center;
                    font-size: 22px;
                    font-weight: 300;
                    color: $white;
                    text-overflow: ellipsis;
                    white-space: nowrap;
                    overflow: hidden;
                }
            }
        }
    }
}