@include breakpoint ($desktop, $max-width) {
    #workshops {
        margin-top: 100px;
        margin-bottom: 100px;

        h2,
        .super-headline {
            margin: 0 $leftMargin 0 $leftMargin;
            font-size: 22px;
        }

        h2 {
            @include h2;
            font-size: 68px;
        }

        .level {
            display: grid;
            grid-template-columns: 1fr 605px auto 1fr 1fr;
            grid-template-rows: repeat(1fr, 3);
            gap: 34px;
            background-color: $darkgrey;
            margin-top: 100px;
            position: relative;


            .number {
                font-size: 300px;
                font-weight: 600;
                color: $darkgrey;
                grid-column: 1/1;
                grid-row: 1/4;
                background-color: $white;
                height: 100%;
                position: absolute;
            }

            &.three {
                .number {
                    top: 0;
                }
            }



            .imgCircle {
                height: 240px;
                aspect-ratio: 1;
                background-color: $grey;
                border-radius: 100%;
                display: flex;
                justify-content: center;
                align-items: center;
                grid-column: 3/4;
                grid-row: 1/4;
                margin: 46px 0px;

                img {
                    width: 140px;
                    aspect-ratio: 1;
                }

                div {
                    display: none;
                }
            }
        }

        .apply {
            grid-column: 5/5;
            grid-row: 1/4;
            font-size: 42px;
            line-height: 42px;
            font-weight: 200;
            color: $lighterdark;
            background-color: $whitelight;
            display: flex;
            text-align: center;
            align-items: center;
        }

        .yoga,
        .quote {
            width: 120px;
            aspect-ratio: 1;
        }


        .yoga {
            filter: invert(100%) sepia(0%) saturate(2%) hue-rotate(293deg) brightness(107%) contrast(101%);
        }

        .levelText {
            grid-column: 2/3;
            grid-row: 1/4;
            margin-top: 46px;

            h3,
            p,
            .button {
                text-overflow: ellipsis;
                overflow: hidden;
                font-size: 22px;
            }

            h3 {
                color: $lightorange;
                font-size: 38px;
                font-weight: 300;
            }

            p {
                color: $white;
                font-weight: 300;
                font-size: 22px;
                margin-top: $leftMargin;
                margin-right: $leftMargin;
            }
        }


        .quoteFlex {
            display: flex;
            flex-direction: column-reverse;
            grid-column: 4/5;
            grid-row: 1/4;
            align-items: flex-end;
            justify-content: flex-start;


            blockquote {
                font-size: 38px;
                font-weight: 300;
                color: $white;
                position: absolute;
                top: 46px;
            }
        }
    }
}